{% extends "base.html" %}

{% block content %}
    <h1>Account Aanvragen</h1>
    <p>Voer uw e-mailadres in. Uw gebruikersnaam en een willekeurig wachtwoord worden naar u 'gemaild' (geprint in de console).</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=40) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}